In [1]:
import numpy as np
#import tensorflow as tf
import tensorflow.compat.v1 as tf
import pandas as pd
import time
from datetime import datetime

In [3]:
t = pd.read_csv('C:/Users/stefa/Downloads/romplus_1900.csv')
t

,data cutremur,year,month,day,minute,lat,long,depth,Mw,Type,Qual
0,1/3/1900,1900,1,3,38:06.0,46.5000,27.3000,9.9,3.2,Minor,Q=D
1,1/29/1900,1900,1,29,57:40.0,46.0000,21.2000,9.9,4.5,Light,Q=D
2,1/31/1900,1900,1,31,40:11.6,46.5000,27.3000,9.9,5.5,Moderate,Q=D
3,6/22/1900,1900,6,22,51:23.0,44.3000,26.3000,9.9,2.6,Negligible,Q=D
4,6/23/1900,1900,6,23,20:25.0,45.0000,24.1000,9.9,4.2,Light,Q=D
...,...,...,...,...,...,...,...,...,...,...,...
30499,3/31/2021,2021,3,31,NaN,46.0443,22.8680,5.9,1.9,Negligible,66 Q=C
30500,3/31/2021,2021,3,31,NaN,46.8633,22.8872,5.0,1.9,Negligible,183 Q=C
30501,3/31/2021,2021,3,31,NaN,45.6367,27.9550,20.3,1.9,Negligible,89 Q=A
30502,3/31/2021,2021,3,31,NaN,45.7725,26.6335,74.3,3.0,Minor,38 Q=C
30503,3/31/2021,2021,3,31,NaN,45.5518,26.4571,110.7,3.2,Minor,31 Q=C

In [4]:
t['data cutremur'] = pd.to_datetime(t['data cutremur']).dt.date
t

,data cutremur,year,month,day,minute,lat,long,depth,Mw,Type,Qual
0,1900-01-03,1900,1,3,38:06.0,46.5000,27.3000,9.9,3.2,Minor,Q=D
1,1900-01-29,1900,1,29,57:40.0,46.0000,21.2000,9.9,4.5,Light,Q=D
2,1900-01-31,1900,1,31,40:11.6,46.5000,27.3000,9.9,5.5,Moderate,Q=D
3,1900-06-22,1900,6,22,51:23.0,44.3000,26.3000,9.9,2.6,Negligible,Q=D
4,1900-06-23,1900,6,23,20:25.0,45.0000,24.1000,9.9,4.2,Light,Q=D
...,...,...,...,...,...,...,...,...,...,...,...
30499,2021-03-31,2021,3,31,NaN,46.0443,22.8680,5.9,1.9,Negligible,66 Q=C
30500,2021-03-31,2021,3,31,NaN,46.8633,22.8872,5.0,1.9,Negligible,183 Q=C
30501,2021-03-31,2021,3,31,NaN,45.6367,27.9550,20.3,1.9,Negligible,89 Q=A
30502,2021-03-31,2021,3,31,NaN,45.7725,26.6335,74.3,3.0,Minor,38 Q=C
30503,2021-03-31,2021,3,31,NaN,45.5518,26.4571,110.7,3.2,Minor,31 Q=C

In [5]:
t.drop(['year', 'month', 'day', 'minute', 'Type', 'Qual'], axis = 1, inplace = True)
t

      data cutremur      lat     long  depth   Mw
0        1900-01-03  46.5000  27.3000    9.9  3.2
1        1900-01-29  46.0000  21.2000    9.9  4.5
2        1900-01-31  46.5000  27.3000    9.9  5.5
3        1900-06-22  44.3000  26.3000    9.9  2.6
4        1900-06-23  45.0000  24.1000    9.9  4.2
...             ...      ...      ...    ...  ...
30499    2021-03-31  46.0443  22.8680    5.9  1.9
30500    2021-03-31  46.8633  22.8872    5.0  1.9
30501    2021-03-31  45.6367  27.9550   20.3  1.9
30502    2021-03-31  45.7725  26.6335   74.3  3.0
30503    2021-03-31  45.5518  26.4571  110.7  3.2

[30504 rows x 5 columns]

In [6]:
t.rename(columns = {'data cutremur':'Date'}, inplace = True)

In [7]:
t

             Date      lat     long  depth   Mw
0      1900-01-03  46.5000  27.3000    9.9  3.2
1      1900-01-29  46.0000  21.2000    9.9  4.5
2      1900-01-31  46.5000  27.3000    9.9  5.5
3      1900-06-22  44.3000  26.3000    9.9  2.6
4      1900-06-23  45.0000  24.1000    9.9  4.2
...           ...      ...      ...    ...  ...
30499  2021-03-31  46.0443  22.8680    5.9  1.9
30500  2021-03-31  46.8633  22.8872    5.0  1.9
30501  2021-03-31  45.6367  27.9550   20.3  1.9
30502  2021-03-31  45.7725  26.6335   74.3  3.0
30503  2021-03-31  45.5518  26.4571  110.7  3.2

[30504 rows x 5 columns]

In [8]:
def f(x):
    diff = x - t.Date.min()
    return diff

days = t['Date'].apply(f)
d = pd.DataFrame(days)
d.rename(columns = {'Date':'Days'}, inplace = True)
d

KeyboardInterrupt:

In [ ]:
merge = pd.merge(t, d, left_index = True, right_index = True)
merge

In [9]:
merge.to_csv('C.csv')

In [13]:
df = pd.read_csv('C:/Users/stefa/Downloads/Fe.csv')
df

           lat     long  depth   Days   Mw
0      46.5000  27.3000    9.9      0  3.2
1      46.0000  21.2000    9.9     26  4.5
2      46.5000  27.3000    9.9     28  5.5
3      44.3000  26.3000    9.9    170  2.6
4      45.0000  24.1000    9.9    171  4.2
...        ...      ...    ...    ...  ...
30499  46.0443  22.8680    5.9  44282  1.9
30500  46.8633  22.8872    5.0  44282  1.9
30501  45.6367  27.9550   20.3  44282  1.9
30502  45.7725  26.6335   74.3  44282  3.0
30503  45.5518  26.4571  110.7  44282  3.2

[30504 rows x 5 columns]

In [14]:
from pandas import read_csv
from numpy import set_printoptions
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
# load data


array = df.values
X = array[:,0:4]
Y = array[:, 4]
# feature extraction
test = SelectKBest(score_func=f_classif, k= 'all')
fit = test.fit(X, Y)
# summarize scores
set_printoptions(precision=4)
print(fit.scores_)
features = fit.transform(X)
# summarize selected features
print(features[0:4,:])

[ 14.2013  56.0256 862.9582 343.7694]
[[ 46.5  27.3   9.9   0. ]
 [ 46.   21.2   9.9  26. ]
 [ 46.5  27.3   9.9  28. ]
 [ 44.3  26.3   9.9 170. ]]

In [9]:
col1 = df[['lat', 'long', 'depth', 'Days']]
col2 = df['Mw']
#Convert to Numpy array
InputX1 = col1.to_numpy()
InputY1 = col2.to_numpy()
print(InputX1)

[[4.65000e+01 2.73000e+01 9.90000e+00 0.00000e+00]
 [4.60000e+01 2.12000e+01 9.90000e+00 2.60000e+01]
 [4.65000e+01 2.73000e+01 9.90000e+00 2.80000e+01]
 ...
 [4.56367e+01 2.79550e+01 2.03000e+01 4.42820e+04]
 [4.57725e+01 2.66335e+01 7.43000e+01 4.42820e+04]
 [4.55518e+01 2.64571e+01 1.10700e+02 4.42820e+04]]

In [19]:
#Min-max Normalization
X1_min = np.amin(InputX1,0)     
X1_max = np.amax(InputX1,0)   
print("Mininum values:",X1_min)
print("Maximum values:",X1_max)
Y1_min = np.amin(InputY1)     
Y1_max = np.amax(InputY1) 
InputX1_norm = (InputX1-X1_min)/(X1_max-X1_min)
InputY1_norm = InputY1  #No normalization in output

#Reshape
Xfeatures = 4 #Number of input features
Yfeatures = 1 #Number of input features
samples = 30000 # Number of samples

InputX1_reshape = np.resize(InputX1_norm,(samples,Xfeatures))
InputY1_reshape = np.resize(InputY1_norm,(samples,Yfeatures))

Mininum values: [43.5941 20.19    0.      0.    ]
Maximum values: [4.8230e+01 2.9840e+01 2.1840e+02 4.4282e+04]

In [20]:
batch_size = 1000
InputX1train = InputX1_reshape[0:batch_size,:]
InputY1train = InputY1_reshape[0:batch_size,:]
#Validation data
v_size = 3000
InputX1v = InputX1_reshape[batch_size:batch_size+v_size,:]
InputY1v = InputY1_reshape[batch_size:batch_size+v_size,:]

In [27]:
learning_rate = 0.001
training_iterations = 1000
display_iterations = 200

In [28]:
tf.compat.v1.disable_eager_execution()
#Input
X = tf.compat.v1.placeholder(tf.float32,shape=(None,Xfeatures))
#tf.compat.v1.placeholder(shape=[None, 2], dtype=tf.float32)
#Output
Y = tf.compat.v1.placeholder(tf.float32)

In [29]:
#Neurons
L1 = 3
L2 = 3
L3 = 3

#Layer1 weights
W_fc1 = tf.Variable(tf.random_uniform([Xfeatures,L1]))
b_fc1 = tf.Variable(tf.constant(0.1,shape=[L1]))

#Layer2 weights
W_fc2 = tf.Variable(tf.random_uniform([L1,L2]))
b_fc2 = tf.Variable(tf.constant(0.1,shape=[L2]))

#Layer3 weights
W_fc3 = tf.Variable(tf.random_uniform([L2,L3]))
b_fc3 = tf.Variable(tf.constant(0.1,shape=[L3]))

#Output layer weights
W_fO= tf.Variable(tf.random_uniform([L3,Yfeatures]))
b_fO = tf.Variable(tf.constant(0.1,shape=[Yfeatures]))

In [30]:
#Layer 1
matmul_fc1=tf.matmul(X, W_fc1) + b_fc1
h_fc1 = tf.nn.relu(matmul_fc1)   #ReLU activation
#Layer 2
matmul_fc2=tf.matmul(h_fc1, W_fc2) + b_fc2
h_fc2 = tf.nn.relu(matmul_fc2)   #ReLU activation
#Layer 3
matmul_fc3=tf.matmul(h_fc2, W_fc3) + b_fc3
h_fc3 = tf.nn.relu(matmul_fc3)   #ReLU activation
#Output layer
matmul_fc4=tf.matmul(h_fc3, W_fO) + b_fO
output_layer = matmul_fc4  #linear activation

In [31]:
#Loss function
mean_square =  tf.reduce_mean(tf.square(Y-output_layer))
train_step = tf.train.AdamOptimizer(learning_rate).minimize(mean_square)

#Operation to save variables
saver = tf.train.Saver()

In [32]:
#Initialization and session
init = tf.global_variables_initializer()
with tf.Session() as sess:
    sess.run(init)
    print("Training loss:",sess.run([mean_square],feed_dict={X:InputX1train,Y:InputY1train}))
    for i in range(training_iterations):
        sess.run([train_step],feed_dict={X:InputX1train,Y:InputY1train})
        if i%display_iterations ==0:
            print("Training loss is:",sess.run([mean_square],feed_dict={X:InputX1train,Y:InputY1train}),"at itertion:",i)
            print("Validation loss is:",sess.run([mean_square],feed_dict={X:InputX1v,Y:InputY1v}),"at itertion:",i)
    # Save the variables to disk.
    save_path = saver.save(sess, "/tmp/earthquake_model.ckpt")
    print("Model saved in file: %s" % save_path)

    print("Final training loss:",sess.run([mean_square],feed_dict={X:InputX1train,Y:InputY1train}))
    print("Final validation loss:",sess.run([mean_square],feed_dict={X:InputX1v,Y:InputY1v}))

Training loss: [14.152964]
Training loss is: [13.689373] at itertion: 0
Validation loss is: [5.5140033] at itertion: 0
Training loss is: [1.8353213] at itertion: 200
Validation loss is: [1.5974755] at itertion: 200
Training loss is: [1.4507129] at itertion: 400
Validation loss is: [0.83338785] at itertion: 400
Training loss is: [1.4361367] at itertion: 600
Validation loss is: [0.8282415] at itertion: 600
Training loss is: [1.4329191] at itertion: 800
Validation loss is: [0.8276084] at itertion: 800
Model saved in file: /tmp/earthquake_model.ckpt
Final training loss: [1.4320769]
Final validation loss: [0.8300886]

In [18]:
init = tf.global_variables_initializer()
with tf.Session() as sess:
    sess.run(init)
    print("Training loss:",sess.run([mean_square],feed_dict={X:InputX1train,Y:InputY1train}))
    for i in range(training_iterations):
        sess.run([train_step],feed_dict={X:InputX1train,Y:InputY1train})
        if i%display_iterations ==0:
            print("Training loss is:",sess.run([mean_square],feed_dict={X:InputX1train,Y:InputY1train}),"at itertion:",i)
            print("Validation loss is:",sess.run([mean_square],feed_dict={X:InputX1v,Y:InputY1v}),"at itertion:",i)
    # Save the variables to disk.
    save_path = saver.save(sess, "/tmp/earthquake_model.ckpt")
    print("Model saved in file: %s" % save_path)

    print("Final training loss:",sess.run([mean_square],feed_dict={X:InputX1train,Y:InputY1train}))
    print("Final validation loss:",sess.run([mean_square],feed_dict={X:InputX1v,Y:InputY1v}))

Training loss: [4.014976]
Training loss is: [3.4741006] at itertion: 0
Validation loss is: [1.1835393] at itertion: 0
Training loss is: [1.4799483] at itertion: 200
Validation loss is: [0.85474753] at itertion: 200
Training loss is: [1.4316074] at itertion: 400
Validation loss is: [0.8413852] at itertion: 400
Training loss is: [1.4301347] at itertion: 600
Validation loss is: [0.8442111] at itertion: 600
Training loss is: [1.4292053] at itertion: 800
Validation loss is: [0.85113466] at itertion: 800
Model saved in file: /tmp/earthquake_model.ckpt
Final training loss: [1.428485]
Final validation loss: [0.8535729]

In [14]:
lat = input("Enter Latitude between -90 to 90:")
long = input("Enter Longitude between -180 to 180:")
depth = input("Enter Depth between 0 to 800:")
days = input("Enter the number of days:")
InputX2 = np.asarray([[lat,long,depth,days]],dtype=np.float32)
InputX2_norm = (InputX2-X1_min)/(X1_max-X1_min)
InputX1test = np.resize(InputX2_norm,(1,Xfeatures))
with tf.Session() as sess:
    # Restore variables from disk for validation.
    saver.restore(sess, "/tmp/earthquake_model.ckpt")
    print("Model restored.")
    #print("Final validation loss:",sess.run([mean_square],feed_dict={X:InputX1v,Y:InputY1v}))
    print("output:",sess.run([output_layer],feed_dict={X:InputX1test}))

Enter Latitude between -90 to 90:25
Enter Longitude between -180 to 180:45
Enter Depth between 0 to 800:20
Enter the number of days:40000
INFO:tensorflow:Restoring parameters from /tmp/earthquake_model.ckpt
Model restored.
output: [array([[4.5516133]], dtype=float32)]